@model ABLeasing.Web.Models.LoginModel

@using (var modal = Html.Bootstrap().Begin(new Modal().Id("modalId").Closeable()))
{
    @modal.Header("Member Login")
    using (modal.BeginBody())
    {
        using (var form = Html.Bootstrap().Begin(new Form("Login", "Account").Id("login-modal").Type(FormType.Horizontal).LabelWidthSm(4)))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                    <div id="login-errors"></div>
                </div>
            </div>
    
            @form.FormGroup().TextBoxFor(m => m.Email).AutoFocus()
            @form.FormGroup().PasswordFor(m => m.Password)

            @form.FormGroup().CheckBoxFor(m => m.RememberMe)
     

            @(form.FormGroup().CustomControls(
                Html.Bootstrap().SubmitButton()
                .Style(ButtonStyle.Primary).LoadingText("logging...")))

        }
    }
}
