@model IEnumerable<ABLeasing.Web.Models.Accounts.Operator>

@{
    ViewBag.Title = "Operators";
    ViewBag.Header = "Operator List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <th>@Html.DisplayNameFor(m => m.Rating)</th>
                        <th>@Html.DisplayNameFor(m => m.TypeOfBusiness)</th>
                        <th>@Html.DisplayNameFor(m => m.Description)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Email)</td>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td>@Html.DisplayFor(m => item.Rating)</td>
                            <td>@Html.DisplayFor(m => item.TypeOfBusiness)</td>
                            <td>@Html.DisplayFor(m => item.Description)</td>
                        </tr>
                    }
                    <tr></tr>
                </tbody>                
            </table>
        </div>
    </div>
</div>