@model IEnumerable<ABLeasing.Web.Models.Accounts.Staff>

@{
    ViewBag.Title = "Staff";
    ViewBag.Header = "Staff List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <th>@Html.DisplayNameFor(m => m.SStatus)</th>
                        <th>@Html.DisplayNameFor(m => m.SRole)</th>
                        <th>@Html.DisplayNameFor(m => m.DateHired)</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Email)</td>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td>@Html.DisplayFor(m => item.SStatus)</td>
                            <td>@Html.DisplayFor(m => item.SRole)</td>
                            <td>@Html.DisplayFor(m => item.DateHired)</td>
                        </tr>
                    }
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>