    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - MCO</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/site/val.js"></script>
    
    @Styles.Render("~/Content/vendor")
    @Styles.Render("~/Content/app")

    @RenderSection("scripts", required: false)
    @Html.Partial("_html5shiv")
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">YourMachineCO.com</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">

                        @if (Request.IsAuthenticated) {
                            @Html.MenuLink("Create Lease", "LeaseApplication", "OperatorsView")
                            @Html.MenuLink("Clients", "Index", "ClientsView")                            
                        }


                    </ul>
                    <div class="navbar-form navbar-right">
                        @Html.Partial("_LoginPartial")
                    </div>

                </div>
        </div>
       
    </nav>

    <div id="body">
        <section class="container">
            @RenderBody()
        </section>
    </div>
    @Html.Partial("../Account/_LoginModalPartial")
    <!-- CopyRight -->
    <div class="copyright">
        <div class="container">
            <!-- FooterNav -->
            <nav class="bottomNav pull-left">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
            <!-- Copyright Info -->
            <div class="pull-right">
                <p>&copy; 2013 <a href="/">YourMachineCo.com</a>, All Rights Reserved.</p>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(function () {
            $('#modalId').delegate('form', 'submit', function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#login-modal').modal("hide");
                            if (result.url) {
                                window.location = url;
                            } else {
                                window.location = '';
                            }
                        } else {
                            // We have the partial with errors in case of failure
                            // so all we have to do is update the DOM
                            $('#login-errors').html(result.errors[0]);
                        }
                    }
                });
                return false;
            });
        })
    </script>
</body>
</html>
