@model ABLeasing.Web.Models.Category

@{
	ViewBag.Title = "Create";
	ViewBag.Header = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (var form = Html.Bootstrap().Begin(new Form("Create", "Categories").Type(FormType.Horizontal).LabelWidthSm(4)))
{
	@Html.AntiForgeryToken()

	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-7">
			@Html.ValidationSummary(true)
		</div>
	</div>
	
	
	@form.FormGroup().TextBoxFor(m => m.Name).AutoFocus()
	@form.FormGroup().TextAreaFor(m => m.Description)

	@(form.FormGroup().CustomControls(
		Html.Bootstrap().SubmitButton()
		.Style(ButtonStyle.Primary).LoadingText("logging...")))

}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script src="~/Scripts/site/val.js"></script>

}
