@model ABLeasing.Web.Models.Lease

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Lease</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrincipalAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrincipalAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InterestRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InterestRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProfitShareRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProfitShareRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OperatorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OperatorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PurchaseCooperativeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseCooperativeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updated)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LeaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
