@model IEnumerable<ABLeasing.Web.Models.Lease>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitShareRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseCooperativeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrincipalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfitShareRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseCooperativeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LeaseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LeaseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LeaseId })
        </td>
    </tr>
}

</table>
