@using ABLeasing.Web.Utility
@using ABLeasing.Web.HtmlHelpers
@model ABLeasing.Web.Models.Equipment

@{
	ViewBag.Title = "Equipment";
	ViewBag.Header = "New Equipment Item";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (var form = Html.Bootstrap().Begin(new Form("Create", "Equipment").Type(FormType.Horizontal).LabelWidthSm(4).InputWidthSm(6)))
{
	@Html.AntiForgeryToken()

	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-7">
			@Html.ValidationSummary(true)
		</div>
	</div>
    
	@form.FormGroup().TextBoxFor(m => m.Name).AutoFocus()
	@form.FormGroup().TextBoxFor(m => m.Manufacturer)

	@form.FormGroup().DropDownListFromEnumFor(model => model.MonitorAttached)

	@form.FormGroup().TextBoxFor(m => m.Model)

	@form.FormGroup().TextBoxFor(m => m.RetailPrice).Prepend("$")
	@form.FormGroup().DropDownListFor(m => m.CategoryId, ViewBag.CategoryId as IEnumerable<SelectListItem>)

	@form.FormGroup().TextBoxFor(m => m.MaterialType)
	@form.FormGroup().TextBoxFor(m => m.PartNumber)
	
	@(form.FormGroup().CustomControls(
		Html.Bootstrap().SubmitButton()
		.Style(ButtonStyle.Primary).LoadingText("Submitting...")))

}
