@model IEnumerable<ABLeasing.Web.Models.Equipment>

@{
    ViewBag.Title = "Equipment";
    ViewBag.Header = "Equipment List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section sectionButton {
    @Html.Bootstrap().ActionLinkButton("Create New", "Create").Text("Create New").Style(ButtonStyle.Primary).PrependIcon("fa fa-edit")
}

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            using (Html.Bootstrap().Begin(new Alert().Style(AlertColor.Info)))
            {
                <p>No Equipment items have been set up, click create to get started.</p>
            }
        } else { 
        
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Manufacturer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MonitorAttached)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Model)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PartNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RetailPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaterialType)
                            </th>
                            <th>
                                Category
                            </th>
                            <th class="table-buttons">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Manufacturer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MonitorAttached)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RetailPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                
                                <td class="table-buttons">

                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            Actions<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.Bootstrap().ActionLink("Edit", "Edit").RouteValues(new { id = item.LeaseId }).PrependIcon("fa fa-edit fa-fw")
                                            </li>
                                        </ul>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        
        }

    </div>
</div>

<div id="action-modal"></div>



@section scripts {
    <script src="~/Scripts/site/modal-loader.js"></script>
    <script>
        $(function () {
            $('.open-modal').on('click', function (evt) {
                openModal(evt);
                return false;
            });
        });
    </script>
}
