@using ABLeasing.Web.Models
@using TwitterBootstrapMVC.Controls
@model ABLeasing.Web.Models.Lease
@{
    ViewBag.Title = "Lease Application";
}

<div id="lease-apply">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading text-center">Lease Application</div>
                <div class="panel-body">
                    <div class="row">
                        
                        @using (FormBuilder<Lease> form = Html.Bootstrap().Begin(new Form()))
                        {
                            <div class="col-sm-6">
                                @form.FormGroup().TextBoxFor(m => m.Name).AutoFocus().HelpText("Give this application a name to reference later.").Placeholder("Combine #3")
                                @form.FormGroup().DropDownListFor(m => m.EquipmentId, ViewBag.EquipmentId as IEnumerable<SelectListItem>).Id("select-equipment")                            
                                @form.FormGroup().TextAreaFor(m => m.Description).Rows(13).Tooltip(new Tooltip("Please give a full description of the lease, and the related equipment Item. This will be reviewed during the approval process.").Placement("top"))
                                
                                @(form.FormGroup().CustomControls(
                                      Html.Bootstrap().SubmitButton()
                                          .Style(ButtonStyle.Primary).LoadingText("Submitting...")))

                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">GPS Location</label>
                                    @Html.EditorFor(m => m.Location.GpsLocation)        
                                </div>
                               
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(function() {
        $("#select-equipment").select2();
    });
</script>
<script type="text/javascript" src="~/Scripts/EFSpatialGoogleMaps.js"> </script>