
@model ABLeasing.Web.Models.ViewModels.LeaseApp
@{
    ViewBag.Title = "Lease Application";
}

<div id="lease-apply">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading text-center">Lease Application</div>
                <div class="panel-body">

                        
                    @using (var form = Html.Bootstrap().Begin(new Form()))
                    {
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Equipment Information</h4>
                                <hr />
                            </div>
                            <div class="col-sm-6">
                                @form.FormGroup().TextBoxFor(m => m.Equipment.Name).AutoFocus().Placeholder("Caterpillar 825G Soil Compactor")
                                @form.FormGroup().TextBoxFor(m => m.Equipment.Manufacturer).Placeholder("Caterpillar")

                                @form.FormGroup().DropDownListFromEnumFor(model => model.Equipment.MonitorAttached).Id("select-monitor")

                                @form.FormGroup().TextBoxFor(m => m.Equipment.Model).Placeholder("825G")
                            </div>
                            <div class="col-sm-6">
                                @form.FormGroup().TextBoxFor(m => m.Equipment.RetailPrice).Prepend("$").Placeholder("1,100,00.00")
                                @form.FormGroup().DropDownListFor(m => m.Equipment.CategoryId, ViewBag.CategoryId as IEnumerable<SelectListItem>).Id("select-category")

                                @form.FormGroup().TextBoxFor(m => m.Equipment.MaterialType).Placeholder("Heavy Equipment")
                                @form.FormGroup().TextBoxFor(m => m.Equipment.PartNumber).Placeholder("234HS0")
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Lease Information</h4>
                                <hr />
                            </div>

                            <div class="col-sm-6">
                                @form.FormGroup().TextBoxFor(m => m.Lease.Name).HelpText("Give this application a name to reference later.").Placeholder("Soil Compator Utah County")
                                @form.FormGroup().TextAreaFor(m => m.Lease.Description).Rows(15).Tooltip(new Tooltip("Please give a full description of the lease, and the related equipment Item. This will be reviewed during the approval process.").Placement("top"))
                                
                                @(form.FormGroup().CustomControls(
                                      Html.Bootstrap().SubmitButton()
                                          .Style(ButtonStyle.Primary).LoadingText("Submitting...")))

                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">GPS Location</label>
                                    <p class="help-block">Pick a location on the map to prefill this field.</p>
                                    @Html.EditorFor(m => m.Lease.Location.GpsLocation)        
                                </div>
                               
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(function() {
        $("#select-monitor").select2();
        $("#select-category").prepend("<option value=''></option>").select2({
            placeholder: "Choose Category"
        });
    });
</script>
<script type="text/javascript" src="~/Scripts/EFSpatialGoogleMaps.js"> </script>