@model ABLeasing.Web.Models.Accounts.Client

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Client</legend>

        <div class="control-group">
			@Html.LabelFor(model => model.DepositAmount)
        
			<div class="controls">
				@Html.EditorFor(model => model.DepositAmount)
				@Html.ValidationMessageFor(model => model.DepositAmount, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.PeriodicDepositAmount)
        
			<div class="controls">
				@Html.EditorFor(model => model.PeriodicDepositAmount)
				@Html.ValidationMessageFor(model => model.PeriodicDepositAmount, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.Frequency)
        
			<div class="controls">
				@Html.EditorFor(model => model.Frequency)
				@Html.ValidationMessageFor(model => model.Frequency, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.AutoPay)
        
			<div class="controls">
				@Html.EditorFor(model => model.AutoPay)
				@Html.ValidationMessageFor(model => model.AutoPay, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.Email)
        
			<div class="controls">
				@Html.EditorFor(model => model.Email)
				@Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.Name)
        
			<div class="controls">
				@Html.EditorFor(model => model.Name)
				@Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.Status)
        
			<div class="controls">
				@Html.EditorFor(model => model.Status)
				@Html.ValidationMessageFor(model => model.Status, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.Created)
        
			<div class="controls">
				@Html.EditorFor(model => model.Created)
				@Html.ValidationMessageFor(model => model.Created, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			@Html.LabelFor(model => model.Updated)
        
			<div class="controls">
				@Html.EditorFor(model => model.Updated)
				@Html.ValidationMessageFor(model => model.Updated, string.Empty, new { @class="help-inline" })
			</div>
		</div>

        <div class="control-group">
			<div class="controls">
				<input type="submit" value="Create" class="btn" /> &nbsp; @Html.ActionLink("Cancel", "Index")
			</div>
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

	<script>

	$.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
        });
	</script>
}
