@model IEnumerable<ABLeasing.Web.Models.Accounts.Client>

@{
    ViewBag.Title = "Client";
    ViewBag.Header = "Client List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <th>@Html.DisplayNameFor(m => m.DepositAmount)</th>
                        <th>@Html.DisplayNameFor(m => m.PeriodicDepositAmount)</th>
                        <th>@Html.DisplayNameFor(m => m.Frequency)</th>
                        <th>@Html.DisplayNameFor(m => m.AutoPay)</th>
                        <th>@Html.DisplayNameFor(m => m.Status)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Email)</td>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td>@Html.DisplayFor(m => item.DepositAmount)</td>
                            <td>@Html.DisplayFor(m => item.PeriodicDepositAmount)</td>
                            <td>@Html.DisplayFor(m => item.AutoPay)</td>
                            <td>@Html.DisplayFor(m => item.Status)</td>
                        </tr>
                    }
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>